body {
	margin: 0 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
}

#menu {
	overflow: hidden;
	background-color: rgb(204, 94, 94);
	padding: 1%;
}

#menu a {
	float: left;
	color: rgb(4, 255, 242);
	text-decoration: none;
	padding-right: 14px;
}

#message {
	margin-left: 1%;
	font-size: x-large;
}

.icons {
	width: 3%;
	padding-top: 100%;
}

#github {	
	left: 10px;
	bottom: 10px;
	position: absolute;
}

#upwork {
	left: 80px;
	bottom: 10px;
	position: absolute;
}